.table {
  display: table;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.head {
  text-align: center;
  background-color: #6bc5c5;
}

.title {
  vertical-align: center;
  width: calc(100% / 3);
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  padding: 10px;
  text-transform: uppercase;
}

.tableBody {
  color: #696969;
}

.tableRow:nth-of-type(even) {
  background-color: #e8ede7;
}

.itemCell {
  border: 1px solid lightgrey;
  padding: 0px;
  text-align: center;
  height: 40px;
}

.typeCell {
  padding-left: 70px;
  padding-right: 40px;
  border: 1px solid lightgrey;
  text-transform: capitalize;
  height: 40px;
}
